<div id="<%= dom_id dancer %>">
  <p>
    <strong>First name:</strong>
    <%= dancer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= dancer.last_name %>
  </p>

  <p>
    <strong>Years of experience:</strong>
    <%= dancer.years_of_experience %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= dancer.email %>
  </p>

</div>
